@model ChatBot.Responce

@{
    ViewData["Title"] = "Add";
}

<h1>Add</h1>
@if (ViewData["Message"] != null)
{
    <h2 class="text-lg-left">@ViewData["Message"]</h2>
}
<h4>Responce</h4>
<hr /><br />

<form asp-action="Add">
    <div class="form-group">
        <label asp-for="Input" class="control-label">User Given Text:</label>
        <input asp-for="Input" class="form-control" />
        <span asp-validation-for="Input" class="text-danger"></span>
        <br />

        <label asp-for="Output" class="control-label">ChatBot Responce:</label>
        <input asp-for="Output" class="form-control" />
        <span asp-validation-for="Output" class="text-danger"></span>
        <br />

        <input type="submit" value="Add Responce" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Responces">Back to List</a>
</div>

