@{
    ViewData["Title"] = "About";
}

<h1 class="text-center">About</h1>
<p class="text-center">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt felis id odio pulvinar viverra.
    Maecenas mattis tellus nisl, nec viverra diam ornare non.
    Curabitur suscipit sollicitudin elit, et cursus orci convallis eget.
    Nullam lacinia facilisis massa quis placerat.
    Sed tristique tortor eget nibh condimentum, rhoncus semper leo luctus.
    Donec vitae nunc iaculis, blandit elit in, dictum orci. Curabitur ex quam, elementum nec lacinia nec, ornare ut dui.
    Nulla a finibus neque, ac dapibus metus. Maecenas maximus nisi vel augue maximus gravida.
</p>
<p class="text-center">
    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi luctus lacus nibh, non gravida felis consectetur non.
    Mauris lorem diam, sollicitudin bibendum sodales ac, cursus nec nisl. Maecenas convallis id nulla eget iaculis.
    Donec massa risus, ullamcorper et metus eu, euismod fermentum arcu.
    Vivamus auctor quam eu urna vulputate, sit amet pretium urna ultricies.
    Integer eget mauris pretium, laoreet nibh ac, suscipit tellus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
    Interdum et malesuada fames ac ante ipsum primis in faucibus.
    Fusce sodales tortor risus, viverra fermentum enim cursus sed.
    Pellentesque ornare magna nec consectetur malesuada. Donec sagittis dignissim erat quis finibus.
    Morbi at lorem justo.
    Suspendisse in scelerisque sapien.
    Nam euismod cursus turpis, eget facilisis arcu consectetur non.
    Etiam rutrum et nibh in mollis.
</p>
<p class="text-center">
    Morbi auctor augue id quam interdum vulputate ac quis velit.
    Etiam sollicitudin commodo ex eu hendrerit. Pellentesque dapibus ornare nunc sit amet molestie.
    Praesent vel lobortis augue. Suspendisse potenti. Phasellus vulputate mattis congue.
    Aenean sit amet nisi vel felis tincidunt rutrum. Quisque tempus urna ut congue viverra.
    Mauris malesuada mattis dolor, et pellentesque ligula sodales sed.
    Interdum et malesuada fames ac ante ipsum primis in faucibus.
    In at accumsan eros.
    Donec vestibulum tortor vel tellus sollicitudin, nec suscipit ante maximus.
    Integer in venenatis nisi. Suspendisse sed dictum metus.
</p>
<p class="text-center">
    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi luctus lacus nibh, non gravida felis consectetur non.
    Mauris lorem diam, sollicitudin bibendum sodales ac, cursus nec nisl. Maecenas convallis id nulla eget iaculis.
    Donec massa risus, ullamcorper et metus eu, euismod fermentum arcu.
    Vivamus auctor quam eu urna vulputate, sit amet pretium urna ultricies.
    Integer eget mauris pretium, laoreet nibh ac, suscipit tellus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
    Interdum et malesuada fames ac ante ipsum primis in faucibus.
    Fusce sodales tortor risus, viverra fermentum enim cursus sed.
    Pellentesque ornare magna nec consectetur malesuada. Donec sagittis dignissim erat quis finibus.
    Morbi at lorem justo.
    Suspendisse in scelerisque sapien.
    Nam euismod cursus turpis, eget facilisis arcu consectetur non.
    Etiam rutrum et nibh in mollis.
</p>
<p class="text-center">
    Morbi auctor augue id quam interdum vulputate ac quis velit.
    Etiam sollicitudin commodo ex eu hendrerit. Pellentesque dapibus ornare nunc sit amet molestie.
    Praesent vel lobortis augue. Suspendisse potenti. Phasellus vulputate mattis congue.
    Aenean sit amet nisi vel felis tincidunt rutrum. Quisque tempus urna ut congue viverra.
    Mauris malesuada mattis dolor, et pellentesque ligula sodales sed.
    Interdum et malesuada fames ac ante ipsum primis in faucibus.
    In at accumsan eros.
    Donec vestibulum tortor vel tellus sollicitudin, nec suscipit ante maximus.
    Integer in venenatis nisi. Suspendisse sed dictum metus.
</p>