@{
    ViewData["Title"] = "Home Page";
}

<h1>Home</h1>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt felis id odio pulvinar viverra.
    Maecenas mattis tellus nisl, nec viverra diam ornare non.
    Curabitur suscipit sollicitudin elit, et cursus orci convallis eget.
    Nullam lacinia facilisis massa quis placerat.
    Sed tristique tortor eget nibh condimentum, rhoncus semper leo luctus.
    Donec vitae nunc iaculis, blandit elit in, dictum orci. Curabitur ex quam, elementum nec lacinia nec, ornare ut dui.
    Nulla a finibus neque, ac dapibus metus. Maecenas maximus nisi vel augue maximus gravida.
</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt felis id odio pulvinar viverra.
    Maecenas mattis tellus nisl, nec viverra diam ornare non.
    Curabitur suscipit sollicitudin elit, et cursus orci convallis eget.
    Nullam lacinia facilisis massa quis placerat.
    Sed tristique tortor eget nibh condimentum, rhoncus semper leo luctus.
    Donec vitae nunc iaculis, blandit elit in, dictum orci. Curabitur ex quam, elementum nec lacinia nec, ornare ut dui.
    Nulla a finibus neque, ac dapibus metus. Maecenas maximus nisi vel augue maximus gravida.
</p>
<a class="btn-block" asp-controller="Chatbot" asp-action="Chatbot">Go to the Chatbot here</a>
<p>If you have any questions or issues, contact us here</p>